.container{
    background-color: transparent;
    border:0;
    padding: 0;
    width: 100%;
    border-radius: 16px;
}

@media screen and (min-width: 576px) {
    .container{
        width:25rem;
        background-color:rgba(255,255,255,.1);
        backdrop-filter: blur(30px);
        border:2px solid rgba(255,255,255,.2);
        padding:20px;
    }    
}
