.weather-details {
    display: grid;
    margin-bottom: 29px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.weather-details span{
    display:inline-block;
    font-size: 1.375rem;
    font-weight: 500;
}

.weather-details p{
    font-size: 0.875rem;
    font-weight: 500;
  
}
